<div class = "main-container">
    <h2 class = "anime-catalog-title">Каталог аніме</h2>
    <div class = "anime-catalog-container">
        
        <div class = "catalog-filter">
        </div>

        <div class = "catalog-grid-wrapper">
            <section class ="catalog-grid">
                <% @animes.each do |anime| %>
                    <div class = "catalog-anime-items">
                        <div>
                            <div class = "catalog-anime-posters-wrapper">
                                <%= image_tag "data:image/jpg;base64,#{Base64.encode64(anime.poster).html_safe}", class: "catalog-anime-posters" %>
                            </div>

                            <h4 class = "catalog-anime-title"><%=anime.name %></h4>
                        </div>
                        <div class = "catalog-anime-release-wrapper">
                            <span class = "catalog-anime-release"><%=anime.content_type %> / <%=anime.release_date.year %> </span>
                        </div>
                    </div>
                <% end %>
            </section>
        </div>
    </div>
</div>

