.catalog-grid{
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1.25rem;
    
    justify-content: space-between;
    align-content: start;
}

.catalog-anime-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 25rem;
}

.anime-catalog-title{
    color: white;
    padding: 0 0 1.25rem;
    
}

.catalog-anime-release-wrapper{
    text-align: right;
}

.catalog-anime-release{
    color: #00d873ec;
    font-size: 0.813rem;
}

.catalog-grid-wrapper{
    width: 100%;
    padding: 0 0 0 1.25rem;
}
.catalog-anime-posters{
    width: 14rem;
    height: 19.688rem;
}
.catalog-filter{
    width: 40%;
    height: 50rem;
    background-color: green;
}

.anime-catalog-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}

.main-container{
    padding: 3rem 15.625rem 4.688rem 15.625rem;
    height: fit-content;
}