.catalog-grid{
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1.25rem;
    
    justify-content: space-between;
    align-content: start;
    height: 31.25rem;
}

.catalog-anime-items{
    background: gray;
    height: 25rem;
}

.anime-catalog-title{
    color: white;
    padding: 0 0 1.25rem;
    
}

.catalog-grid-wrapper{
    width: 100%;
    height: 209rem;
    padding: 0 0 0 1.25rem;
}

.catalog-filter{
    width: 40%;
    height: 50rem;
    background-color: green;
}

.anime-catalog-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}

.main-container{
    padding: 4.688rem 15.625rem 4.688rem 15.625rem;
    height: fit-content;
}