.trending-grid {
    padding: 0.625rem 2.5rem 1rem 2.5rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1.25rem;
    grid-auto-flow: column dense;
    justify-content: space-between;
    align-content: start;
}

.trending-anime-items{
    height: 30.25rem;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    border-radius: 0.313rem;
}
.trending-anime-items:hover{
    background-color: rgba(107, 107, 107, 0.315);
}

.trending-anime-posters{
    height: 23.75rem; 
    width: 17.34rem;
    border-radius: 0.625rem;
    padding: 0.313rem;
}

.trending-grid-title{
    color: white;
    margin: 0 0 0.625rem 2.5rem;
    padding: 0 0 0 1.875rem;
    font-size: 2.375rem;
}

.trending-anime-title{  
    color: white;
    font-size: 1.188rem;
    padding: 0rem 0rem 0rem 0.525rem;
}

.trending-anime-release{
    color: #00d873ec;
    font-size: 0.938rem

}

.trending-anime-release-wrapper{
    text-align: right;
    margin: 0.313rem 0.625rem 0.625rem 0rem;
}